# Environment variables
.env

# Virtual environment
venv/

# Python cache files
__pycache__/

# Google credentials
google_credentials.json

# Audio files
audio/

# Testing files
tests/

# node_modules
frontend/node_modules/

# voicesamples
voicesamples/